<div class="forgot-password">
  <img src="assets/images/brand/fluentdoc_logo.svg" alt="logo" class="logo" />
  <div class="forgot-password-container">
    @if (showResetSuccessAlert) {
    <div class="alert alert-success">
      <i class="ph-duotone ph-check-circle icon-lg"></i>
      <span> Reset instructions sent.</span>
    </div>
    }
    <div>
      <h4>Forgot password?</h4>
      <p>
        Enter the email address associated with your account. We will send you
        instructions to reset your password.
      </p>
    </div>
    <form
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="sendForgotPasswordEmail()"
      class="forgot-password-form vstack gap-5 needs-validation"
      novalidate
    >
      <div>
        <label for="email" class="form-label"
          >Email<sup class="required-asterisk">*</sup></label
        >
        <input
          required
          type="email"
          formControlName="email"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              forgotPasswordFormSubmitted &&
              forgotPasswordControls['email'].errors
          }"
          id="email"
          placeholder="Enter email address"
        />
        @if (forgotPasswordFormSubmitted &&
        forgotPasswordControls['email'].errors) {
        <div class="invalid-feedback">
          <i class="ph-fill ph-warning-circle"></i>
          @if (forgotPasswordControls['email'].errors['email']) {
          <span>Please enter a valid email</span>
          } @if (forgotPasswordControls['email'].errors['required']) {
          <span>This field is required.</span>
          }
        </div>
        }
      </div>
      <div class="hstack mx-auto">
        @if (forgotPasswordFormSubmitted &&
        !forgotPasswordControls['email'].errors) {
        <span>
          Reset instructions sent. Didn&apos;t receive it?
          <button
            class="btn btn-link"
            type="submit"
            [disabled]="disableResendButton"
          >
            @if (!disableResendButton) {
            <span>Resend</span>
            } @else {
            <span>Instruction resent (Resend in {{ currentTime }}s)</span>
            }
          </button></span
        >
        } @else {
        <button class="btn btn-primary" type="submit">
          Get reset instructions
        </button>
        }
      </div>
    </form>
    <div class="remember-password-container">
      Remember your password?
      <button class="btn btn-link" (click)="switchForm('login')">Log in</button>
    </div>
  </div>
</div>
