@import "../../../../scss/functions/common.scss";
@import "../../../../scss/mixins/common.scss";
@import "../../../../scss/mixins/typography.scss";
@import "../../../../scss/variables/colors.scss";
@import "../../../../scss/variables/spacing.scss";

.forgot-password {
  @include displayFlex(column, center, center);

  & > img {
    @include logo;
    margin-bottom: toRem(60px);
  }

  &-container {
    @include displayFlex(column, center, center);

    & > div,
    .alert {
      width: toRem(406px);
    }

    .alert {
      align-self: center;
    }

    h4,
    .alert {
      margin-bottom: toRem(33px);
    }

    p {
      margin-bottom: 0;
    }

    .btn-link {
      margin-left: $spacing-sm;
    }
  }

  &-form {
    margin-top: toRem(33px);
    align-items: center;

    & > div:first-child {
      width: toRem(406px);
    }
  }

  .hstack {
    .btn-primary {
      @include buttonSize("xl", toRem(343px));
    }
  }

  .remember-password-container {
    @include displayFlex(row, center, center);
    margin-top: $spacing-2xl;
    padding-top: $spacing-xl;
    border-top: 1px solid $border-subtle;
  }
}
