@if (loading) {
<div class="global-nav">
  <div class="dis-flex gap-3 align-items-center">
    <div
      class="global-nav-logo"
      routerLinkActive="active"
      [routerLink]="isMobile ? null : '/dashboard'"
    >
      <img src="assets/images/brand/fluentdoc_logo.svg" alt="fluentdoc logo" />
    </div>
  </div>

  <div class="global-nav-items">
    <div class="dis-flex gap-4">
      <div class="nav-gradient-block"></div>
      <div class="nav-gradient-block"></div>
      <div class="nav-gradient-block"></div>
    </div>
    <div class="divider"></div>
    <div class="dis-flex gap-3">
      <div class="nav-gradient-circle"></div>
      <div class="nav-gradient-circle"></div>
      <div class="nav-gradient-pill"></div>
    </div>
  </div>
</div>
} @if (!loading) {
<div class="global-nav">
  <div class="dis-flex gap-3 align-items-center">
    <div
      class="global-nav-logo"
      routerLinkActive="active"
      [routerLink]="isMobile ? null : '/dashboard'"
    >
      <img src="assets/images/brand/fluentdoc_logo.svg" alt="fluentdoc logo" />
    </div>
  </div>

  @if (isLoggedIn) {
  <div class="global-nav-items">
    <div class="nav-item" routerLinkActive="active" routerLink="/dashboard">
      <i class="ph ph-squares-four"></i><span>Dashboard</span>
    </div>
    <div
      class="nav-item"
      id="nav-resources"
      routerLinkActive="active"
      routerLink="/resources"
    >
      <i class="ph ph-link-simple-break"></i><span>Resources</span>
    </div>
    <div
      class="nav-item"
      id="nav-glossary"
      routerLinkActive="active"
      routerLink="/glossary"
    >
      <i class="ph ph-text-aa"></i><span>Glossary</span>
    </div>
  </div>
  } @else {
  <!-- Sign up and Log in -->
  <div class="global-nav-items">
    <div class="nav-item" (click)="navigateToFluentDoc()">
      <i class="ph ph-globe"></i><span>More about FluentDoc</span>
    </div>
    <div class="divider"></div>
    <button
      class="btn btn-light btn-outline-secondary text-dark"
      routerLink="/"
      [queryParams]="{ signUp: true }"
    >
      Sign up
    </button>
    <button class="btn btn-primary" routerLink="/">Log in</button>
  </div>
  }
  <app-mobile-menu
    class="mobile-menu"
    (notificationsClicked)="openNotificationModal()"
    (logoutClicked)="logout()"
    (navigateToFluentDoc)="navigateToFluentDoc()"
    [uncheckedNotifications]="uncheckedNotifications"
    [isLoggedIn]="isLoggedIn"
  ></app-mobile-menu>
</div>

}
