<div class="reset-password">
  <img src="assets/images/brand/fluentdoc_logo.svg" alt="logo" />
  <div class="reset-password-container">
    @if (!!errorDisplay) {
    <div class="alert alert-danger" role="alert">
      <span>
        {{ errorDisplay }}
      </span>
    </div>
    }

    <h4>Reset password</h4>

    @if (resetPasswordFormSubmitted && showResetPasswordFormSuccess) {
    <p>Your password has been successfully updated!</p>
    <div class="hstack mx-auto">
      <button class="btn btn-primary" (click)="goToLogin()">Log in</button>
    </div>
    } @else {
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="resetPassword()"
      class="reset-password-form needs-validation vstack"
      novalidate
    >
      <div>
        <label for="email" class="form-label"
          >Email<sup class="required-asterisk">*</sup></label
        >
        <input
          required
          type="email"
          formControlName="email"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              resetPasswordFormSubmitted &&
              resetPasswordControls['email'].errors
          }"
          id="email"
          placeholder="Enter email address"
        />
        @if (resetPasswordFormSubmitted &&
        resetPasswordControls['email'].errors) {
        <div class="invalid-feedback">
          <i class="ph-fill ph-warning-circle"></i>
          @if (resetPasswordControls['email'].errors['email']) {
          <span>Please enter a valid email address.</span>
          } @if (resetPasswordControls['email'].errors['required']) {
          <span>This field is required.</span>
          }
        </div>
        }
      </div>
      <div>
        <label for="newPassword" class="form-label"
          >New password<sup class="required-asterisk">*</sup></label
        >
        <div class="input-wrapper">
          <input
            required
            type="{{ showNewPassword ? 'text' : 'password' }}"
            name="newPassword"
            formControlName="newPassword"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                resetPasswordFormSubmitted &&
                resetPasswordControls['newPassword'].errors
            }"
            id="newPassword"
            placeholder="Enter password"
            minlength="8"
            maxlength="40"
          />
          <i
            class="ph input-icon"
            [ngClass]="getPasswordIcon()"
            (click)="togglePasswordVisibility()"
          ></i>
        </div>
        @if (resetPasswordFormSubmitted &&
        resetPasswordControls['newPassword'].errors) {
        <div class="invalid-feedback">
          <i class="ph-fill ph-warning-circle"></i>
          @if (resetPasswordControls['newPassword'].errors['required']) {
          <span>This field is required.</span>} @if
          (resetPasswordControls['newPassword'].errors['minlength'] ||
          resetPasswordControls['newPassword'].errors['maxlength']) {
          <span
            >Please enter a valid password. It must contain at least 8
            characters (no more than 40), with one uppercase, and one number.
          </span>
          }
        </div>
        } @else {
        <div class="form-text">
          Password must contain at least 8 characters, with one uppercase and
          one number.
        </div>
        }
      </div>
      <div>
        <div>
          <label for="newPasswordConfirm" class="form-label"
            >Confirm password<sup class="required-asterisk">*</sup></label
          >
          <div class="input-wrapper">
            <input
              required
              formControlName="newPasswordConfirm"
              type="{{ showNewPasswordConfirm ? 'text' : 'password' }}"
              name="newPasswordConfirm"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  resetPasswordFormSubmitted &&
                  resetPasswordControls['newPasswordConfirm'].errors
              }"
              id="newPasswordConfirm"
              placeholder="Enter password"
              minlength="8"
              maxlength="40"
            />
            <i
              class="ph input-icon"
              [ngClass]="getPasswordConfirmIcon()"
              (click)="togglePasswordConfirmVisibility()"
            ></i>
          </div>
          @if (resetPasswordFormSubmitted &&
          resetPasswordControls['newPasswordConfirm'].errors) {
          <div class="invalid-feedback">
            <i class="ph-fill ph-warning-circle"></i>
            @if (resetPasswordControls['newPasswordConfirm'].errors['required'])
            {
            <span>This field is required.</span>} @if
            (resetPasswordControls['newPasswordConfirm'].errors['minlength'] ||
            resetPasswordControls['newPasswordConfirm'].errors['maxlength']) {
            <span
              >Please enter a valid password. It must contain at least 8
              characters (no more than 40), with one uppercase and one
              number.</span
            >
            } @else if (
            resetPasswordControls['newPasswordConfirm'].errors['passwordsNotMatched'])
            {
            <span>Passwords do not match.</span>
            }
          </div>
          }
        </div>
      </div>
      <div class="hstack mx-auto">
        <button class="btn btn-primary" type="submit">Reset password</button>
      </div>
    </form>
    }
  </div>
</div>
