@import "../../../../scss/functions/common.scss";
@import "../../../../scss/mixins/common.scss";
@import "../../../../scss/mixins/typography.scss";
@import "../../../../scss/variables/colors.scss";
@import "../../../../scss/variables/spacing.scss";

.reset-password {
  @include displayFlex(column, center, center);

  & > img {
    @include logo;
    margin-bottom: toRem(60px);
  }

  &-container {
    @include displayFlex(column, flex-start, center);

    .alert {
      width: 100%;
    }

    h4,
    p,
    .alert {
      margin-bottom: $spacing-2xl;
    }
  }

  &-form {
    padding-bottom: $spacing-xl;

    & > div:not(:last-child) {
      margin-bottom: $spacing-2xl;
    }
  }

  .hstack {
    .btn-primary {
      @include buttonSize("xl", toRem(343px));
    }
  }
}
