@import "../functions/common.scss";

$spacing-12xl: toRem(112px);
$spacing-11xl: toRem(104px);
$spacing-10xl: toRem(96px);
$spacing-9xl: toRem(88px);
$spacing-8xl: toRem(80px);
$spacing-7xl: toRem(72px);
$spacing-6xl: toRem(64px);
$spacing-5xl: toRem(56px);
$spacing-4xl: toRem(48px);
$spacing-3xl: toRem(40px);
$spacing-2xl: toRem(32px);
$spacing-xl: toRem(24px);
$spacing-lg: toRem(16px);
$spacing-md: toRem(12px);
$spacing-sm: toRem(8px);
$spacing-xs: toRem(4px);
$spacing-2xs: toRem(2px);
