// Font family
$font-family-regular: "NotoSans-Regular";
$font-family-semi-bold: "NotoSans-SemiBold";
$font-family-bold: "NotoSans-Bold";

// Font weight
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
