@import "../../scss/functions/common.scss";
@import "../../scss/mixins/common.scss";
@import "../../scss/variables/spacing.scss";
@import "../../scss/variables/colors.scss";

quill-editor {
  width: 100%;
}

.ipa-keyboard-button {
  @include displayFlex(row, flex-start, flex-start);
  gap: toRem(5px);
  cursor: pointer;
  i {
    font-size: 1.5em;
  }
}
